<launch>

	<arg name="localization"      default="false"/>
	<node if="$(arg localization)" name="map_server" pkg="map_server" type="map_server" args="~/Graduation_project/SLAM_and_navigation_using_ROS/src/rikobot_nav/maps/mymap.yaml">
		<remap from="map" to="/rtabmap/grid_map"/>
	</node>

	<include file = "$(find rikobot_filters)/launch/run_filters.launch"/>
	<node pkg = "rikobot_arduino" type = "pose_to_odom" name = "pose_to_odom" />
	
	
	<include file = "$(find rikobot_rtab)/launch/run_rtabmap.launch">
		<arg name="localization"      value="$(arg localization)"/>
	</include>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rikobot_rtab)/rviz/my_conf.rviz"/>
</launch>

